#title {
    color:blue;
    background-color:#d3d3d3;
    border: solid #a9a9a9 1px;
}

.paragraph {
    color: rgb(0,128,0);
    background-color: rgba(255, 255, 0, 0.5);
}

.second_paragraph {
    color:red;
font-size: 18px;
font-weight: bold;
}

* {
    text-align: center;
    font-family:Arial, sans-serif;
  }
.span_style {
    color: #A020F0;
    font-style:italic;
}